<!DOCTYPE html>
<html>
<body>

<h2>Cefu</h2>
username: <input type="text" name="username" id="username" value="value" /><br>
<button type="button" onclick="start()">start</button>


<script>
var content = 'message: <input type="text" name="message" id="message" value="value" /><br> <button type="button" onclick="send()">send</button>';
function start() {
    var username = document.getElementById("username").value;
    document.getElementsByTagName('body')[0].innerHTML = content;
    socket = new WebSocket("ws://" + window.location.host + "/chat/" + username + "/"); 
    socket.onmessage = function(e) { 
        document.getElementsByTagName('body')[0].innerHTML += '<br>'+ e.data;
    } 

}

function send() {
   socket.send(document.getElementById("message").value)
}
</script>
	
</body>
</html> 
